.inside.bot-indent
  = render :partial => "shared/slogan", :locals => { :h2span => "Showing", |
     :h2 => @task.title,                                                   |
     :p => "View and accept/reject translations from Here"                 |
    }                                                                      |
  %h2.extra paragraphs
  %div#tasklist
    - @microtasks.each do |microtask|
      %h3
        = "Paragraph#{microtask.paragraph_index + 1}"
        ="current status :#{microtask.status}"
      %div
        %div
          %h5
            = microtask.task.get_language_from.name
          %p
            = microtask.paragraph
        - if microtask_processed(microtask)
          %div
            %h5
              = microtask.task.get_language_to.name
            %p
              = microtask.translated_paragraph
            %h6
              = "By: #{microtask.translator.name}"
            %div#button
              - if !microtask_accepted?(microtask)
                = link_to "Accept",accept_microtask_path(microtask.id)
              = link_to "Reject",reject_microtask_path(microtask.id)
  = link_to "<< Back",user_root_path