.inside.bot-indent
  = render :partial => "shared/slogan", :locals => { :h2span => "Welcome",                                                        |
     :h2 => current_user.name,                                                                                                    |
     :p => "Remaining Points: #{current_user.points.round(2)} #{link_to("Purchase More", purchase_points_path, :remote => true)}" |
    }                                                                                                                             |
  %h2.extra
    My Current Tasks #{link_to "Request New Translation ", new_task_path}
  .box.extra
    .left-indent.line-ver1
      %article.col-1.indent
      %h4.aligncenter Title
      %ul.info-list1
        - @tasks.each do |task|
          %li= link_to task.title, task_path(task)
      %article.col-2.indent
      %h4.aligncenter From
      %ul.info-list1.alt
        - @tasks.each do |task|
          %li= task.get_language_from.name
      %article.col-3.indent
      %h4.aligncenter To
      %ul.info-list1.alt
        - @tasks.each do |task|
          %li= task.get_language_to.name
      %article.col-4.indent
      %h4.aligncenter Deadline
      %ul.info-list1.alt
        - @tasks.each do |task|
          %li= task.deadline.to_date
      %article.col-5.indent
      %h4.aligncenter Completed
      %ul.info-list1.alt
        - @tasks.each do |task|
          %li= "#{task.completed} %"
      .clear
